
$theme-colors: (
  "primary": #d90077,
  "secondary": lightgrey,
  "white": white,
  "black": black
);

$body-bg:white;

@import "~bootstrap/scss/bootstrap";

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 18px;
}



.main-content-programs {
  background-color:rgba(240, 235, 235, 0.705);
}

.caption{
  font-family: 'Sacramento', cursive;
}

.primary{
  color: #d90077;
}