<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand-primary" href="/">Wild Series</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/programs">Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actor/">Actors</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#"><i class="far fa-user"></i></a>
      </li>
    </ul>
  </div>
</nav>


